<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Controller\Adminhtml\Page\Save" type="PrateekKarki\Cmsbanner\Controller\Adminhtml\Cms\Save" />
    <preference for="Magento\Cms\Model\Page\DataProvider" type="PrateekKarki\Cmsbanner\Model\Cms\DataProvider" />
</config>
